@import url("https://fonts.googleapis.com/css2?family=Staatliches&display=swap");

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Staatliches", sans-serif;
    font-weight: 400;
    font-style: normal;
}

body {
    min-height:100vh;
}

.header {
    background-color: #e7800b;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    width: 100%;
}

.logo {
    font-size: 24px;
    font-weight: bold;
    color: #fff;
    text-decoration: none;
}

.nav {
    display: flex;
}

.nav__list {
    display: flex;
    list-style: none;
}

.nav__item {
    margin-left: 30px;
    position: relative; 
}

.nav__link {
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    font-weight: 500;
    padding: 5px 0; 
    transition: color .3s;
    display: inline-block; 
}

.nav__link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background-color: #ffffff;
    transition: width .3s;
    position: absolute;
    bottom: -5px;
    left: 0;
}

.nav__link:hover {
    color: #ffffff;
}

.nav__link:hover::after {
    width: 100%;
}

.active {
    color: #ffffff;
}

.active::after {
    width: 100%;
}